# Virtuoso files /data/db
/data/db/*
/data/files/*
!/data/db/toLoad
!/data/db/toLoad/*
!/data/db/.gitkeep
!/data/files/.gitkeep
/scripts/project-scripts/node_modules
/toevla-latest.xlsx
docker-compose.override.yml
